<div class="container">
  <% @users.each do |user| %>
    <li><%= user.email %> || 
    <% if user.coordinate == nil %>
      <%= user.username %> || 
    <% else %>
      <%= user.coordinate.username %> || 
    <% end %>
    Abonnement: <%= user.followers.count %> / Abonner: <%= user.followings.count %> </li>
  <% end %>
</div>
