<div class="container">
  <div class="row">
    <div class="col-3 bg-info">
    <h2> mes infos </h2>
      <p> <%= @user.username %> </p>
      <% if @user.coordinate == nil %>
        <%= link_to "modifier mes infos", new_coordinate_path %>
      <% else %>
      <ul>
        <li> <%= @user.id %> </li>
        <li> <%= @user.email %> </li>
        <li> <%= @user.coordinate.first_name %> </li>
        <li> <%= @user.coordinate.last_name %> </li>
      </ul>
        <% if @user == current_user %>
          <%= link_to "modifiermes infos", edit_coordinate_path(@user.coordinate.id) %>
        <% end %> 
      <% end %>
    </div>
    <div class="col-9">
      <p> <%= @user.email %> </p>
      <div class="d-flex justify-content-around">
        <% if current_user.id != @user.id %>
          <p> <%= link_to "S'abonner", user_relationships_path(@user), method: :post, class:"btn btn-success" unless @rel.present? %> </p>
          <p> <%= link_to "Se désabonner", relationship_path(@rel), method: :delete, class:"btn btn-danger" if @rel.present? %> </p>
        <% end %>

        <% if signed_in? && !Invitation.reacted?(current_user.id, @user.id) && current_user != @user %>
          <p> <%= link_to 'Send Invitation', invitations_path(ids: {id1: current_user.id, id2: @user.id}), method: :post, class:"btn btn-success" %></p>
        <% end %>

        <p class="btn btn-primary"> voir mes invitations <p>
        <p class="btn btn-primary"> liste d'amis <p>
      </div>

      <div>
        <% current_user.posts.each do |post| %>
          <%= post.title %>
        <% end %>
      </div>
      

    </div>
  </div>

  <p> Abonnement: <%= @user.followers.count %> :
    <ul>
    <% if @followers.present? %>
      <% @followers.each do |follower| %>
        <% follow = Relationship.find(follower) %>
        <li><%= follow.follower.username %></li>
      <% end %>
    <% end %>
    </ul>
  </p>
  <p> Abonné: <%= @user.followings.count %>
    <ul>
      <% if @followings.present? %>
        <% @followings.each do |followed| %>
          <% follow = Relationship.find(followed) %>
          <li><%= follow.followed.username %></li>
        <% end %>
      <% end %>
    </ul>
  </p>

  
</div>

<div class="container">
  <p>
    <strong>Nom :</strong>
    <%= @user.username %>
  </p>

  <p>Amis de <strong> <%= @user.username %> </strong> </p>

  <ol>
    <% @user.friends.each do |friend| %>
      <li>
        <%= friend.username %>
        <% if @user == current_user %>
          <%= link_to 'Retirer de la liste d\'amis', invitation_path(invitation_id: Invitation.find_invitation(@user.id, friend.id)), class:'btn btn-danger'  %>
        <% end %>
      </li>
    <% end %>
  </ol>

  <% if @user.id == current_user.id %>

    <p> les demande d'amis pour <strong> <%= @user.username %> </strong> </p>

    <ol>
      <% @user.pending_invitations.each do |invitation| %>
        <li>
          <%= User.find(invitation.user_id).username %>
          <%= link_to "Accepter l'invitation", invitation_path(invitation_id: invitation.id), method: :patch, class:"btn btn-success" %>
          <%= link_to "Rejeter l'invitation", invitation_path(invitation_id: invitation.id), method: :delete, class:"btn btn-warning" %>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>
