<div class="container">
  <p> <%= @user.email %> </p>
  <% if current_user.id != @user.id %>
    <%= link_to "S'abonner", user_relationships_path(@user), method: :post, class:"btn btn-success" unless @rel.present? %>
    <%= link_to "Se désabonner", relationship_path(@rel), method: :delete, class:"btn btn-danger" if @rel.present? %>
  <% end %>

  <p> Abonnement: <%= @user.followers.count %> :
    <ul>
    <% if @followers.present? %>
      <% @followers.each do |follower| %>
        <% follow = Relationship.find(follower) %>
        <% if follow.follower.coordinate == nil %>
        <li><%= follow.follower.username %></li>
        <% else %>
        <li><%= follow.follower.coordinate.username %></li>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  </p>
  <p> Abonné: <%= @user.followings.count %>
    <ul>
      <% if @followings.present? %>
        <% @followings.each do |followed| %>
          <% follow = Relationship.find(followed) %>
          <% if follow.followed.coordinate == nil %>
          <li><%= follow.followed.username %></li>
          <% else %>
          <li><%= follow.followed.coordinate.username %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </p>

<div>
<h2> mes infos </h2>
  <% if @user.coordinate == nil %>
    <%= link_to "modifier mes infos", new_coordinate_path %>
  <% else %>
  <ul>
    <li> <%= @user.id %> </li>
    <% if @user.coordinate == nil %>
      <%= @user.username %>
    <% else %>
      <li> <%= @user.coordinate.username %> </li>
    <% end %>
    <li> <%= @user.email %> </li>
    <li> <%= @user.coordinate.first_name %> </li>
    <li> <%= @user.coordinate.last_name %> </li>
  </ul>

  <%= link_to "modifiermes infos", edit_coordinate_path(@user.coordinate.id) %>
  <% end %>
<div>
</div>