
<% @offers.each do |offer| %>
  <div class="card" style="width: 18rem;">
    <%
=begin%>
 <img src="..." class="card-img-top" alt="..."> 
<%
=end%>
    <div class="card-body">
      <h5 class="card-title"><%= offer.title %></h5>
      <p class="card-text"><%= offer.description %></p>
      <%= link_to 'Show', offer, class:"btn btn-info" %>
      <% if current_user %>
        <%= link_to 'Edit', edit_offer_path(offer), class:"btn btn-primary" %>
        <%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="calendar" class="container"></div>

<br>

<%= link_to 'New Offer', new_offer_path %>



